*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
}
section{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction:  column;
    align-items: center;
    background: #1d1d1d;
    color: white;
}
.search{
    text-align: center;
    color: white;
    background-color: #424242;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    margin-top:10px;
}
.search-box{
    padding: 10px 20px;
    background-color: whitesmoke;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.search-box input{
    width: 300px;
    height: 40px;
    border: none;
    outline: none;
    font-size: 19px;
    font-weight: 700;
    background: whitesmoke;
    padding: 10px;
    color: black;
    border-radius: 10px;
}
.search-box i{
    margin-left: -35px;
    color: gray;
    font-size: 25px;
    cursor: pointer;
}
.panels{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    gap: 20px;
}
.panel{
    background: #424242;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    text-align: start;
    max-width: 350px;
    gap: 10px;
    display: flex;
    flex-direction: column;
}
.panel i{
    font-size: 30px;
    margin-bottom: 10px;
}
.panel h2{
    font-size: 19px;
    font-weight: 700;
}
.panel p{
    font-size: 16px;
    color: gray;
}